<nav class="navbar-non-user">
  <div class="container container-navbar">
    <div class="navbar-brand">
      <img src="assets/media/images/Logo.png" alt="Logo">
    </div>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div><a href="Beranda.html">Beranda</a></div>
      <div><a href="layanan.html">Layanan</a></div>
      <div><a href="tentangkami.html">Tentang Kami</a></div>
      <div><a href="artikel.html">Artikel</a></div>
      <div><a href="kontak.html">Kontak</a></div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburger = document.getElementById('hamburger');
    const navbarMenu = document.getElementById('navbar-menu');

    hamburger.addEventListener('click', function () {
      navbarMenu.classList.toggle('navbar-show');
      hamburger.classList.toggle('hamburger--active');
    });
  });
</script>