// Initialize first
@import "../init";

// Import files  
@import "home";

// Add your style here

.kontak-section {
    padding-top: 8.375rem;
    padding-bottom: 6.25rem;
    background-color: $white;
}