// Initialize first
@import "../init";

// Import files
@import "home";

// Add your style here
.simpanan-user-section {
  padding: 1.5rem;
  background-color: white;
  font-family: "Inter", sans-serif;
  color: #333;

  .table-container {
    background: #fff;
    padding: 1rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #e3e1d1;
    margin-top: 8rem;

    h4 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: white;
        font-weight: 600;
        border-bottom: 0.125rem solid #00000083;

        th {
          padding: 0.75rem 0.5rem;
          font-size: 0.875rem;
          color: #333;
        }
      }

      tbody td {
        padding: 0.75rem 0.5rem;
        font-size: 0.875rem;
        border-bottom: 0.125rem solid #00000083;
      }

      .badge.aktif {
        background-color: #d1fadf;
        color: #118e3c;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        display: inline-block;
      }

      .aksi {
        display: flex;
        gap: 0.5rem;
        margin-bottom: -1px;

        button {
          background-color: #5a5134;
          border: none;
          color: #fff;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          cursor: pointer;
          font-size: 0.75rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #3d3623;
          }

          img {
            width: 1.4375rem;
            height: 1.4375rem;
          }
        }
      }
    }


    .pagination {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;

      button {
        padding: 0.25rem 0.5rem;
        border: 0.0625rem solid #ccc;
        background-color: #fff;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 0.875rem;

        &.active {
          background-color: #5a5134;
          color: #fff;
          border-color: #5a5134;
        }
      }
    }
  }
}


// Responsive proplayer
@include media-breakpoint-up(xs) {
  .simpanan-user-section {
    padding: 1rem;
  }

  .table-container {
    padding: 0.5rem;
    border-radius: 0.5rem;

    h4 {
      font-size: 1.25rem;
    }

    table {
      thead th {
        font-size: 0.875rem;
      }

      tbody td {
        font-size: 0.75rem;
      }
    }

    .aksi button {
      font-size: 0.75rem;
      padding: 0.25rem;
    }
  }

  .pagination {
    button {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
    }
  }
}
@include media-breakpoint-up(xs-1) {
  .simpanan-user-section {
    padding: 1.25rem;
  }

  .table-container {
    padding: 0.75rem;
    border-radius: 0.5625rem;

    h4 {
      font-size: 1.375rem;
    }

    table {
      thead th {
        font-size: 0.875rem;
      }

      tbody td {
        font-size: 0.8125rem;
      }
    }

    .aksi button {
      font-size: 0.8125rem;
      padding: 0.25rem 0.5rem;
    }
  }

  .pagination {
    button {
      font-size: 0.8125rem;
      padding: 0.25rem 0.5rem;
    }
  }
}
@include media-breakpoint-up(sm) {
  .simpanan-user-section {
    padding: 1.5rem;
  }

  .table-container {
    padding: 1rem;
    border-radius: 0.625rem;

    h4 {
      font-size: 1.5rem;
    }

    table {
      thead th {
        font-size: 0.875rem;
      }

      tbody td {
        font-size: 0.875rem;
      }
    }

    .aksi button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }

  .pagination {
    button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .simpanan-user-section {
    padding: 1.75rem;
  }

  .table-container {
    padding: 1.25rem;
    border-radius: 0.6875rem;

    h4 {
      font-size: 1.625rem;
    }

    table {
      thead th {
        font-size: 0.875rem;
      }

      tbody td {
        font-size: 0.875rem;
      }
    }

    .aksi button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }

  .pagination {
    button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  .simpanan-user-section {
    padding: 2rem;
  }

  .table-container {
    padding: 1.5rem;
    border-radius: 0.75rem;

    h4 {
      font-size: 1.75rem;
    }

    table {
      thead th {
        font-size: 0.875rem;
      }

      tbody td {
        font-size: 0.875rem;
      }
    }

    .aksi button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }

  .pagination {
    button {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  }
}