<nav class="navbar-super-user">
  <div class="container container-navbar">
    <div class="navbar-brand">
      <img src="../assets/media/images/Logo.png" alt="Logo">
    </div>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="nav-item"><img src="../assets/media/svg/home-c.svg" class="svg"><a href="beranda_s.html">Beranda</a></div>
      <div class="nav-item"><img src="../assets/media/svg/people-community-svgrepo-com (2).svg" class="svg"><a href="anggota_s.html">Anggota</a></div>
      <div class="nav-item"><img src="../assets/media/svg/pinjaman.svg" class="svg"><a href="pinjaman_s.html">Pinjaman</a></div>
      <div class="nav-item"><img src="../assets/media/svg/simpanan.svg" class="svg"><a href="simpanan_s.html">Simpanan</a></div>
      <div class="logout">
        <img src="../assets/media/svg/log-out.svg" alt="Logout" class="svg"> <a href="logout.html">Logout</a>
      </div>
    </div>

  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburger = document.getElementById('hamburger');
    const navbarMenu = document.getElementById('navbar-menu');

    hamburger.addEventListener('click', function () {
      navbarMenu.classList.toggle('navbar-show');
      hamburger.classList.toggle('hamburger--active');
    });
  });
</script>