<aside class="sidebar" id="sidebar">
    <div>
      <div class="logo">
        <img src="./assets/media/images/logo-sidebar.png" alt="Logo Koperasi"  class="large-logo"/>
        <img src="./assets/media/images/LogoBulata.png" alt="Logo Koperasi" class="small-logo" />
      </div>
      <a href="/Super-user" class="nav-link active">
        <img src="./assets/media/svg/home-white.svg" alt="Dashboard" />
        <span>Dashboard</span>
      </a>
      <a href="#" class="nav-link">
        <img src="./assets/media/svg/people-white.svg" alt="Anggota" />
        <span>Anggota</span>
      </a>
      <a href="#" class="nav-link">
        <img src="../assets/media/svg/credit-card-fill-white.svg" alt="Simpanan" />
        <span>Simpanan</span>
      </a>
      <a href="#" class="nav-link">
        <img src="./assets/media/svg/money-cash-white.svg" alt="Pinjaman" />
        <span>Pinjaman</span>
      </a>
      <a href="#" class="nav-link">
        <img src="./assets/media/svg/cart-line=white.svg" alt="Laporan" />
        <span>Laporan</span>
      </a>
    </div>
    <a href="#" class="nav-link logout">
      <img src="./assets/media/svg/log-out.svg" alt="Logout" />
      <span>Log Out</span>
    </a>
  </aside>